<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="header">
    <div class="sidebar-sticky">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span data-feather="file"></span>
                    Search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/connections">
                    <span data-feather="file"></span>
                    Connections
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>